.container{
	/*background-color: red;*/
	/*border: 2px solid black;*/
	height: 72px;
	width: 80.283px;
	overflow: hidden;
	position: relative;
}
.logo{
	transform: translate(-50%, -50%);
	width: 95%;
	/*width: 120px;*/
	/*height: 96.259px;*/
	display: block;
	position: absolute;
	top: 150%;
	left: 50%;
}
#circle_1_{
	fill: #02DFB4;
	transform-origin: 19.00218px 32.58618px
}
.xy{
	/*height: 72px;*/
	height: 47.38px;
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
}
.dest{
	fill: white;
	transform-origin: 19.00218px 32.58618px
}